<div>
  <h1>App Component</h1>
  <nav>
    <a routerLink="home">Home</a> | 
    <a routerLink="login">Login</a> |
    <a routerLink="register">Register</a> |
    <a routerLink="products">Products Page</a> |
    <a routerLink="dashboard">Dashboard</a> |
    <a routerLink="lifecycle">lifecycle</a> |
    <a routerLink="events">Events</a> |
    <a routerLink="loginForm">loginForm</a> |
    <a routerLink="registerForm">Registration</a> |
  </nav>
</div>
<app-lifecycle [data]="parenData"></app-lifecycle>
<router-outlet></router-outlet>